<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FTC data receiver</title>
        <script src="/static/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap-5.2.2/bootstrap-5.2.2-dist/css/bootstrap.css"/>
    </head>
    <body>
        <p>Robot Position: (<span id="x"></span>, <span id="y"></span>)</p>
        <canvas width="300" height="300" id="canvas"></canvas>
        <br><a href="/logs">Robot Logs</a>
        <script>
            function updateRobotPosition() {
                let x = $("#x");
                let y = $("#y");
                robotPosition = $.get("/robot-position");
                robotPosition.done(function (data) {
                    x.html(data.x);
                    y.html(data.y);
                    draw(data.x, data.y);
                });
            }
            updateRobotPosition();
            setInterval(updateRobotPosition, 100);
            function draw(x, y) {
              const canvas = document.getElementById('canvas');
              if (canvas.getContext) {
                const ctx = canvas.getContext('2d');
                ctx.fillRect(x+25, y+25, 5, 5);
              }
            }
        </script>
    </body>
</html>