<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FTC data receiver</title>
        <script src="/static/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap-5.2.2/bootstrap-5.2.2-dist/css/bootstrap.css"/>
        <style>
            table {
              border-collapse: collapse;
              border: 2px solid #c8c8c8;
              letter-spacing: 1px;
              font-size: 0.8rem;
            }

            td, th {
              border: 1px solid #bebebe;
              padding: 10px 20px;
            }

            td {
              text-align: center;
            }
        </style>
    </head>
    <body>
        <p>Robot Position: (<span id="x"></span>, <span id="y"></span>)</p>
        <canvas width="576" height="576" id="canvas"></canvas>
        <br><a href="/logs">Robot Logs</a>
        <h1>Logs</h1>
        <table>

        </table>
        <script>
            function updateRobotPosition() {
                let x = $("#x");
                let y = $("#y");
                robotPosition = $.get("/robot-position");
                robotPosition.done(function (data) {
                    x.html(data.x/6.35);
                    y.html(data.y/6.35);
                    draw(data.x, data.y);
                });
            }
            updateRobotPosition();
            setInterval(updateRobotPosition, 100);
            function draw(x, y) {
              const canvas = document.getElementById('canvas');
              if (canvas.getContext) {
                const ctx = canvas.getContext('2d');
                ctx.clearRect(0, 0, ctx.height, ctx.width)
                ctx.fillRect(x/6.35, y/6.35, 5, 5);
              }
            }
        </script>
    </body>
</html>