<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FTC data receiver</title>
        <script src="/static/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap-5.2.2/bootstrap-5.2.2-dist/css/bootstrap.css"/>
    </head>
    <body>
        <a href="/logs">View the robot logs</a>
        <br><a href="/robot-position">See the robot's current position</a>
    </body>
</html>